.tab {
  
  display: inline;
  
}

button {
  border-radius: 0px;
}

.tabcontent {
  position: absolute;
  
}

.content {
  position: relative;
}

#tab2content {
  
  display: none;
}

#tab3content {
  display: none;
}